@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
    color: transparent;
    -webkit-text-fill-color:  transparent; /* Change 'white' to your desired outline color */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #484848;
  }
  